.chat_wrapper {
    display: flex;
    margin-bottom: 8px;
}

.chat_balloon {
    background: #ddd;
    border: 3px solid #999;
    border-radius: 8px;
    padding: 16px;
}

.player {
    margin-left: auto;
}
